<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="shortcut icon" href="../images/icone.ico" type="image/x-icon">
</head>
<body>
  <section class="cadastro-user">
    <img src="../images/logo.png" alt="logo do projeto" title="logo do projeto">
    <div>
      <h2>Cadastro</h2>
      <p>É rápido, seguro e fácil.</p>
      <form action="" class="formulario-cadastro">
        <label for="cnpj">Seu CNPJ: <span class="importante">*</span></label>
        <div class="form-row">
          <input type="text" id="cnpj" name="cnpj" maxlength="18" placeholder="00.000.000/0000-00" required>
        </div>
        <label for="">Endereço:</label> 
        <div class="form-row endereco">
          <input type="text" name="bairro" id="bairro" placeholder="Bairro">
          <input type="text" name="cidade" id="cidade" placeholder="Cidade">
          <select name="estado" id="estado">
            <option value="" disabled selected>Estado</option>
          </select>
          <select name="pais" id="pais" class="pais">
            <option value="" disabled selected>País</option>
          </select>
          <input type="number" name="numero" id="numero" placeholder="Número" min="1">
        </div>
        <div class="form-row">
          <button type="submit" class="btn-voltar voltar-cadastro">Voltar</button>
          <button type="submit" class="btn-avancar">Avançar</button>
        </div>
      </form>
    </div>
    <div>
        <p>Já possui uma conta? <a href="index.html">conecte-se</a></p>
    </div>
  </section>
  <script src="../js/main.js"></script>
  <script src="../js/cadastro.js"></script>
</body>
</html>