<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/inicio.css">
  <link rel="shortcut icon" href="../images/icone.ico" type="image/x-icon">
</head>
<body data-page="perfil">
  <header>
    <nav>
      <div class="busca-elementos">
        <a href="tela_inicio_paciente.html">
          <img src="../images/logo.png" alt="logo do projeto" title="logo do projeto">
        </a>
        <div class="input-container">
          <input type="text" id="search-input" placeholder="Pesquisar..." />
          <button id="search-button" class="input-icon">
            <img src="../images/lupa.svg" alt="Ícone de Lupa"/>
          </button>
        </div>
      </div>
      <ul class="menu-navegacao"> 
          <li>
            <a href="tela_inicio_paciente.html" class="menu-item" data-page="home">
              <div class="elementos">
                <img src="../images/home.png" alt="Início" title="Aba inicial">
                <p>Início</p>
              </div>
            </a>  
          </li>
          <li>
            <a href="notificacoes.html" class="menu-item" data-page="notificacoes">
              <div class="elementos">
                <img src="../images/notificacao.png" alt="Notificações" title="Aba de Notificações">
                <p>Notificações</p>
              </div>
            </a>
          </li>
          <li>
            <a href="perfil.html" class="menu-item" data-page="perfil">
              <div class="elementos">
                <img src="../images/user.png" alt="Menu de perfil" title="Menu de Perfil">
                <p>Perfil</p>
              </div>
            </a>  
          </li>
      </ul>
    </nav>
  </header>
  <main id="informacoes-paciente" class="info-container">

  </main>
  <footer>
    <span>
      <a href="termos.html" target="_blank" rel="noopener noreferrer">Termos</a>
      ,
      <a href="politica-privacidade.html" target="_blank">Política de Privacidade</a>
    </span>
    <span>
      <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
    </span>
  </footer>
  <script src="../js/inicio.js"></script>
</body>
</html>