<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Termos de Uso</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/termos-politica.css">
  <link rel="shortcut icon" href="../images/icone.ico" type="image/x-icon">
</head>
<body>
  <header>
    <div class="principal">
      <h1>Termos de Uso: Sistema Unificado de Gestão para Postos de Saúde</h1>
      <p>Última atualização: Novembro de 2024</p>
    </div>
    <img src="../images/logo.png" alt="logo do projeto" title="logo do projeto">
  </header>
  <main>
    <ul>
      <li>
        <h2>1 Introdução</h2>
        <p> 
          Bem-vindo ao nosso site! Este projeto foi desenvolvido por alunos de 
          graduação em Ciência da Computação com o objetivo de 
          facilitar o acesso a informações de saúde. 
        </p>
      </li>
      <li>
        <h2>2 Aceitação dos Termos</h2>
      <p>
        Ao acessar e utilizar este site, você concorda em cumprir e respeitar os 
        Termos de Uso aqui descritos. Caso discorde de qualquer parte destes termos, 
        pedimos que não utilize nosso site.
      </p>
      </li>
      <li>
        <h2>3 Serviços Oferecidos</h2>
        <p>
          Este site fornece informações de saúde e ferramentas para agendamento e 
          gerenciamento de dados. O conteúdo aqui apresentado não substitui 
          o aconselhamento médico profissional.
        </p>
      </li>
      <li>
        <h2>4 Responsabilidade</h2>
        <p>
          Embora nossos esforços sejam para garantir a precisão das informações, 
          não nos responsabilizamos por quaisquer erros ou omissões no conteúdo do site.
          Utilize as informações por sua conta e risco.
        </p>
      </li>
      <li>
        <h2>5 Modificações</h2>
        <p>
          Reservamos o direito de modificar ou descontinuar o site, no todo ou em parte, 
          sem aviso prévio. Atualizações nos Termos de Uso serão publicadas nesta página.
        </p>
      </li>
      <li>
        <h2>6 Contato</h2>
        <p>
          Em caso de dúvidas sobre estes Termos de Uso, 
          entre em contato conosco através do email: <a href="mailto:...">...</a>.
        </p>
      </li>
    </ul>
  </main>
  <footer>
    <span>
      <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
    </span>
  </footer>
</body>
</html>
