main {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--cor-branco);
}

main section {
  height: 60vh;
  width: 80vw;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main section div {
  flex: 2;
}

main section div:nth-of-type(2) {
  flex: 1;
  font-size: 9pt;
  padding: 5px;
}

section div:nth-of-type(2) input {
  font-size: 12pt;
  font-family: Sansation;
  font-weight: bold;
}

section div img {
  width: 19vw;
}

section div p {
  font-size: 36pt;
  font-weight: bold;
}

.formulario {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="email"],
.formulario input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.botao-criar-conta,
.botao-enviar {
  background-color: #6394FF;
  color: white;
  font-family: Sansation;
}

.botao-criar-conta:hover,
.botao-enviar:hover {
  background-color: #527ACC;
}

.formulario hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

footer {
  padding: .5rem;
  font-size: 11pt;
  text-align: center;
}