:root {
  --cor-azul: #6394FF;
  --cor-cinza: #EDEDED;
  --cor-cinza-claro: #D9D9D9;
  --cor-cinza-escuro: #8E8E8E;
  --cor-branco: #f9f9f9;
}

main {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menu-notificacoes {
  display: flex;
  margin-top: 1rem;
}

.menu-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 0.5rem;
  font-family: Sansation;
}

.menu-btn:hover {
  background-color: #ddd;
}

.menu-btn.ativo {
  background-color: #6394ff;
  color: white;
}

.notificacoes-container {
  margin: 2rem auto;
  width: 90%;
  max-width: 600px;
  padding: 1rem;
  text-align: center;
}

.info-container {
  height: 12rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--cor-cinza-claro);
}

.info-container img {
  width: 70px;
}

section.secao-central {
  border-radius: 10px;
  width: 33rem;
  padding: 1rem;
  background-color: var(--cor-cinza-claro);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

section.secao-central hr {
  margin: .5rem;
  border: 1px solid var(--cor-branco);
}

section.secao-informacoes {
  text-align: center;
  width: 20rem;
}