<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../../css/base/styles.css">
  <link rel="stylesheet" href="../../css/pages/inicio.css">
  <link rel="stylesheet" href="../../css/pages/notificacao.css">
  <link rel="shortcut icon" href="../../images/logos/icone.ico" type="image/x-icon">
</head>
<body data-page="notificacoes">
  <header>
    <nav>
      <div class="busca-elementos">
        <a href="../dashboard/tela_inicio_paciente.html">
          <img src="../../images/logos/logo.png" alt="logo do projeto" title="logo do projeto">
        </a>
        <div class="input-container">
          <input type="text" id="search-input" placeholder="Pesquisar" />
          <button id="search-button" class="input-icon">
            <a href="../pages/busca.html"><img src="../../images/botoes/lupa.svg" alt="Ícone de Lupa"/></a>
          </button>
        </div>
      </div>
      <ul class="menu-navegacao"> 
          <li>
            <a href="../dashboard/tela_inicio_paciente.html" class="menu-item" data-page="home">
              <div class="elementos">
                <img src="../../images/botoes/home.png" alt="Início" title="Aba inicial">
                <p>Início</p>
              </div>
            </a>  
          </li>
          <li>
            <a href="../pages/notificacoes.html" class="menu-item" data-page="notificacoes">
              <div class="elementos">
                <img src="../../images/botoes/notificacao.png" alt="Notificações" title="Aba de Notificações">
                <p>Notificações</p>
              </div>
            </a>
          </li>
          <li>
            <a href="../pages/perfil.html" class="menu-item">
              <div class="elementos">
                <img src="../../images/icones/user.png" alt="Menu de perfil" title="Menu de Perfil">
                <p>Perfil</p>
              </div>
            </a>  
          </li>
          <li>
            <a href="#" class="menu-item" id="configuracoes">
              <div class="elementos">
                <img src="../../images/botoes/sanduiche.png" alt="Menu" title="Menu">
                <p>Configurações</p>
              </div>
            </a>  
          </li>
      </ul>
    </nav>
  </header>
  <ul class="submenu" id="submenu">
    <li><button id="logout">Sair</button></li>
    <!-- <li><button id="update">Atualizar seus dados</button></li> -->
  </ul>
  <main>
    <section id="informacoes-paciente" class="info-container"></section> 
    <section class="secao-central">
      <h2>Notificações</h2>
      <hr>
      <div class="menu-notificacoes"> 
        <button id="btn-tudo" class="menu-btn ativo">Tudo</button>
        <button id="btn-nao-lidas" class="menu-btn">Não lidas</button>
      </div>
      <div id="conteudo-notificacoes" class="notificacoes-container">
      </div>
    </section>
    <section class="secao-informacoes">
      <span>
        <a href="../pages/termos.html" target="_blank" rel="noopener noreferrer">Termos</a>
        ,
        <a href="../pages/politica_privacidade.html" target="_blank">Política de Privacidade</a>
      </span>
      <span>
        <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
      </span>
    </section>
  </main>
  <script src="../../js/pages/inicio.js"></script>
  <script src="../../js/pages/notificacoes.js"></script>
  <script src="../../js/pages/busca.js"></script>
</body>
</html>