<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Política de Privacidade</title>
  <link rel="stylesheet" href="../../css/base/styles.css">
  <link rel="stylesheet" href="../../css/pages/termos-politica.css">
  <link rel="shortcut icon" href="../../images/logos/icone.ico" type="image/x-icon">
</head>
<body>
  <header>
    <div class="principal">
      <h1>Política de Privacidade: Sistema Unificado de Gestão para Postos de Saúde</h1>
    <p>Última atualização: Novembro de 2024</p>
    </div>
    <img src="../../images/logos/logo.png" alt="logo do projeto" title="logo do projeto">
  </header>
  <main>
    <ul>
      <li>
        <h2>1. Introdução</h2>
      <p>
        Estamos comprometidos com a proteção da sua privacidade. 
        Esta política descreve como coletamos, 
        usamos e protegemos suas informações.
      </p>
      </li>
      <li>
        <h2>2. Dados Coletados</h2>
      <p>
        Coletamos informações pessoais, como nome, e-mail, telefone e CPF, 
        fornecidos voluntariamente pelos usuários ao utilizarem nossos serviços.
      </p>
      </li>
      <li>
        <h2>3. Uso das Informações</h2>
      <p>
        As informações coletadas são utilizadas para fornecer nossos serviços, 
        personalizar sua experiência e melhorar nosso site. 
        Não compartilhamos seus dados com terceiros.
      </p>
      </li>
      <li>
        <h2>4. Segurança</h2>
      <p>
        Implementamos medidas de segurança para proteger seus dados 
        contra acesso não autorizado, alteração ou destruição.
      </p>
      </li>
      <li>
        <h2>5. Alterações</h2>
      <p>
        Esta Política de Privacidade pode ser atualizada a qualquer momento. 
        Quaisquer alterações serão publicadas nesta página.
      </p>
      </li>
      <li>
        <h2>6. Contato</h2>
      <p>
        Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade, 
        entre em contato conosco pelo email: <a href="mailto:...">...</a>.
      </p>
      </li>
    </ul>
  </main>
  <footer>
    <span>
      <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
    </span>
  </footer>
</body>
</html>
