<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../../css/base/styles.css">
  <link rel="stylesheet" href="../../css/pages/inicio.css">
  <link rel="stylesheet" href="../../css/pages/cadastro.css">
  <link rel="shortcut icon" href="../../images/logos/icone.ico" type="image/x-icon">
</head>
<body data-page="atualizar">
  <header>
    <nav>
      <div class="busca-elementos">
        <img src="../../images/logos/logo.png" alt="logo do projeto" title="logo do projeto">
        <div class="input-container">
          <input type="text" id="search-input" placeholder="Pesquisar" />
          <button id="search-button" class="input-icon">
            <img src="../../images/botoes/lupa.svg" alt="Ícone de Lupa"/>
          </button>
        </div>
      </div>
      <ul class="menu-navegacao"> 
        <li class="menu-item" data-page="home">
          <div class="elementos">
            <img src="../../images/botoes/home.png" alt="Início" title="Aba inicial">
            <p>Início</p>
          </div>
        </li>
        <li class="menu-item" data-page="notificacoes">
          <div class="elementos">
            <img src="../../images/botoes/notificacao.png" alt="Notificações" title="Aba de Notificações">
            <p>Notificações</p>
          </div>
        </li>
        <li class="menu-item" data-page="perfil">
          <div class="elementos">
            <img src="../../images/icones/user.png" alt="Menu de perfil" title="Menu de Perfil">
            <p>Perfil</p>
          </div>
        </li>
        <li class="menu-item" id="configuracoes">
          <div class="elementos">
            <img src="../../images/botoes/sanduiche.png" alt="Menu" title="Menu">
            <p>Configurações</p>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <ul class="submenu" id="submenu">
    <li><button id="update">Atualizar seus dados</button></li>
    <li><button id="logout">Sair</button></li>
  </ul>
  <main>
    <section id="" class="info-container-vacina ">
      <h2>Atualizar Dados</h2>
        <form action="#" method="post">
          <label for="nome" style="margin: 0;">Seu Nome: <span class="importante">*</span></label>
          <input type="text" id="nome" name="nome" placeholder="Nome Completo">
          <label for="email">Seu Email: <span class="importante">*</span></label>
          <input type="email" id="email" name="email" placeholder="Email">
          <label for="celular">Seu Celular: <span class="importante">*</span></label>
          <input type="tel" id="celular" name="celular" pattern="[0-9]{2} [0-9]{5}-[0-9]{4}" placeholder="Celular ou Telefone">
          <div class="file-upload-container">
            <label for="file-input" class="file-label">
              Clique Aqui Para Adicionar Sua Foto
            </label>
            <input type="file" id="file-input" name="foto" accept="image/*" style="display: none;">
            <div id="preview">
              <p id="file-name">Nenhuma imagem selecionada</p>
              <img id="preview-img" src="" alt="Pré-visualização da imagem" style="max-width: 100%; display: none;">
            </div>
          </div> 
          <button type="submit" class="btn-avancar" style="width: 100%;">Atualizar</button>
        </form>
    </section>
  </main>
  <script src="../../js/pages/inicio.js"></script>
  <script src="../../js/components/paginacao.js"></script>
  <script src="../../js/pages/atualizacao.js"></script>
</body>
</html>