<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../../css/base/styles.css">
  <link rel="stylesheet" href="../../css/base/index.css">
  <link rel="shortcut icon" href="../../images/logos/icone.ico" type="image/x-icon">
</head>
<body>
  <main>
    <section>
      <div>
        <img src="../../images/logos/logo.png" alt="logo do projeto" title="logo do projeto">
        <label>
          <p>
            Sua saúde em conexão: 
            medicamentos ao seu alcance com um clique.
          </p>
        </label>
      </div>
      <div>
        <form class="formulario">
          <label for="email">Seu email:</label>
          <input type="email" id="email" name="email" required placeholder="Digite seu Email">
          <label for="password">Sua senha:</label>
          <input type="password" id="password" name="password" required placeholder="Digite sua Senha">
          <button type="submit" class="botao-enviar">
            <a href="../dashboard/tela_inicio_paciente.html">Enviar</a>
          </button>
          <hr>
          <button type="button" class="botao-criar-conta">
            <a href="../register/cadastro.html">
              Criar Conta
            </a>
          </button>
        </form>
      </div>
    </section>
  </main>
  <footer>
    <label>
      <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
    </label>
  </footer>
  <script src="../../js/components/index.js"></script>
</body>
</html>