:root {
  --cor-azul: #6394FF;
  --cor-cinza: #EDEDED;
  --cor-cinza-claro: #D9D9D9;
  --cor-cinza-escuro: #8E8E8E;
  --cor-branco: #f9f9f9;
}

body {
  background-color: var(--cor-cinza);
}

nav {
  height: 50px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-branco);
}

div.busca-elementos {
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > div > a > img {
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

nav ul.menu-navegacao {
  padding-top: 3px;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.menu-navegacao div.elementos {
  gap: 2px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

ul.menu-navegacao li {
  transition: all ease-in-out .5s;
  padding: 2px 20px 2px 20px;
}

ul.menu-navegacao li:hover {
  border-radius: 10px;
  background-color: var(--cor-cinza);
  cursor: pointer;
}

ul.menu-navegacao li div.elementos img {
  transition: all ease-in-out .5s;
}

body > header > nav > ul > li > a.active > div.elementos > img {
  filter: brightness(0);
}

body > header > nav > ul > li > a.active > div.elementos > p {
  color: black;
}

ul.menu-navegacao div.elementos img {
  width: 20px;
}

ul.menu-navegacao div.elementos p {
  font-size: 8pt;
  font-weight: bold; 
  color: var(--cor-cinza-escuro);
  transition: all ease-in-out .5s;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input-container input {
  width: 18rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  font-family: Sansation;
  background-color: var(--cor-cinza);
}

.input-container .input-icon {
  position: absolute;
  top: 55%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.input-container .input-icon img {
  width: 20px;
  height: 20px;
}

main.info-container {
  width: 55rem;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--cor-cinza-claro);
}

main.info-container img {
  width: 9rem;
  border-radius: 50%;
  overflow: hidden;
}

main.info-container h3 {
  margin-top: 1rem;
}