:root {
  --cor-azul: #6394FF;
  --cor-cinza: #EDEDED;
  --cor-cinza-escuro: #8E8E8E;
  --cor-branco: #f9f9f9;
}

@font-face {
  font-family: 'Sansation';
  src: url('../assets/fontes/Sansation_Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Sansation;
  background-color: var(--cor-branco);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 11pt;
}

footer p {
  margin: 0;
}

a {
  text-decoration: none;
}