<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../../css/base/styles.css">
  <link rel="stylesheet" href="../../css/pages/inicio.css">
  <link rel="shortcut icon" href="../../images/logos/icone.ico" type="image/x-icon">
</head>
<body data-page="home">
  <header>
    <nav>
      <div class="busca-elementos">
        <img src="../../images/logos/logo.png" alt="logo do projeto" title="logo do projeto">
        <div class="input-container">
          <input type="text" id="search-input" placeholder="Pesquisar" />
          <button id="search-button" class="input-icon">
            <img src="../../images/botoes/lupa.svg" alt="Ícone de Lupa"/>
          </button>
        </div>
      </div>
      <ul class="menu-navegacao"> 
        <li class="menu-item" data-page="home">
          <div class="elementos">
            <img src="../../images/botoes/home.png" alt="Início" title="Aba inicial">
            <p>Início</p>
          </div>
        </li>
        <li class="menu-item" data-page="notificacoes">
          <div class="elementos">
            <img src="../../images/botoes/notificacao.png" alt="Notificações" title="Aba de Notificações">
            <p>Notificações</p>
          </div>
        </li>
        <li class="menu-item" data-page="perfil">
          <div class="elementos">
            <img src="../../images/icones/user.png" alt="Menu de perfil" title="Menu de Perfil">
            <p>Perfil</p>
          </div>
        </li>
        <li class="menu-item" id="configuracoes">
          <div class="elementos">
            <img src="../../images/botoes/sanduiche.png" alt="Menu" title="Menu">
            <p>Configurações</p>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <ul class="submenu" id="submenu">
    <li><button id="update">Atualizar seus dados</button></li>
    <li><button id="logout">Sair</button></li>
  </ul>
  <main>
    <section id="informacoes-posto" class="info-container"></section>
    <section id="informacoes-paciente-posto" class="info-container-vacina">
    </section>
    <section id="postagem-posto" class="info-container-vacina"> 
      <form action="" id="form-campanhas"> 
        <h2>Criação de Campanha</h2>
        <label for="">Nome da Campanha:</label>
        <div class="form-row-posto endereco">
          <input type="text" name="nome_campanha" id="nome_campanha" required placeholder="Digite o nome de uma nova campanha">
        </div>
        <hr>
        <label for="">Descrição:</label>
        <div class="form-row endereco">
          <textarea name="descricao_campanha" id="descricao_campanha" required placeholder="Digite uma descrição da sua Campanha"></textarea>
        </div>
        <label for="data_registro_inicio_campanha">Data de Início da Campanha:</label>
        <div class="form-row row">
          <input type="date" id="data_registro_inicio_campanha" name="data_registro_inicio_campanha" required>
        </div>
        <label for="data_registro_final_campanha">Data Final da Campanha:</label>
        <div class="form-row row">
          <input type="date" id="data_registro_final_campanha" name="data_registro_final_campanha" required>
        </div>
        <div class="form-row endereco">
          <textarea name="publico_alvo" id="publico_alvo" placeholder="Liste o público alvo da sua Campanha"></textarea>
        </div>
        <button type="submit">Postar</button>
      </form>
    </section>
  </main>
  <footer class="baixo-inicio">
    <span>
      <a href="../pages/termos.html" target="_blank" rel="noopener noreferrer">Termos</a>
      ,
      <a href="../pages/politica_privacidade.html" target="_blank">Política de Privacidade</a>
    </span>
    <span>
      <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
    </span>
  </footer>
  <script src="../../js/pages/inicio.js"></script>
  <script src="../../js/pages/busca.js"></script>
  <script src="../../js/components/paginacao.js"></script>
</body>
</html>