<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../../css/base/styles.css">
  <link rel="stylesheet" href="../../css/pages/inicio.css">
  <link rel="shortcut icon" href="../../images/logos/icone.ico" type="image/x-icon">
</head>
<body data-page="home">
  <header>
    <nav>
      <div class="busca-elementos">
        <img src="../../images/logos/logo.png" alt="logo do projeto" title="logo do projeto">
        <div class="input-container">
          <input type="text" id="search-input" placeholder="Pesquisar" />
          <button id="search-button" class="input-icon">
            <img src="../../images/botoes/lupa.svg" alt="Ícone de Lupa"/>
          </button>
        </div>
      </div>
      <ul class="menu-navegacao"> 
        <li class="menu-item" data-page="home">
          <div class="elementos">
            <img src="../../images/botoes/home.png" alt="Início" title="Aba inicial">
            <p>Início</p>
          </div>
        </li>
        <li class="menu-item" data-page="notificacoes">
          <div class="elementos">
            <img src="../../images/botoes/notificacao.png" alt="Notificações" title="Aba de Notificações">
            <p>Notificações</p>
          </div>
        </li>
        <li class="menu-item" data-page="perfil">
          <div class="elementos">
            <img src="../../images/icones/user.png" alt="Menu de perfil" title="Menu de Perfil">
            <p>Perfil</p>
          </div>
        </li>
        <li class="menu-item" id="configuracoes">
          <div class="elementos">
            <img src="../../images/botoes/sanduiche.png" alt="Menu" title="Menu">
            <p>Configurações</p>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <ul class="submenu" id="submenu">
    <li><button id="logout">Sair</button></li>
    <!-- <li><button id="update">Atualizar seus dados</button></li> -->
  </ul>
  <main>
    <section id="informacoes-paciente" class="info-container"></section>
    <section id="informacoes-paciente-vacina" class="info-container-vacina">
    </section>
    <section id="informacoes-paciente-dados" class="info-container-dados">
      <h3>Total de vacinas</h3>
    </section>
    <section id="" class="info-container-vacina">
      <h2>Registro de Vacina</h2>
        <form action="#" method="post">
          <label for="nome_registro_vacina">Nome da Vacina:</label>
          <div class="form-row row">
            <input type="text" id="nome_registro_vacina" name="nome" required placeholder="Digite o nome da vacina">
          </div>
          
          <label for="data_registro_vacina">Data:</label>
          <div class="form-row row">
            <input type="date" id="data_registro_vacina" name="data_registro_vacina" required>
          </div>

          <label for="dose">Quantidade da Dose (mL):</label>
          <div class="form-row row">
            <input type="text" id="dose" name="dose" step="0.01" min="0" required placeholder="Digite a quantidade da dose">
          </div>
          
          <label for="unidade_medica">Unidade Médica:</label>
          <div class="form-row row">
            <input type="text" id="unidade_medica" name="unidade_medica" required placeholder="Digite o nome da unidade médica">
          </div>
          
          <button type="submit">Registrar</button>
        </form>
    </section>
  </main>
  <footer class="baixo-inicio">
    <span>
      <a href="../pages/termos.html" target="_blank" rel="noopener noreferrer">Termos</a>
      ,
      <a href="../pages/politica_privacidade.html" target="_blank">Política de Privacidade</a>
    </span>
    <span>
      <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
    </span>
  
  </footer>
  <script src="../../js/pages/inicio.js"></script>
  <script src="../../js/pages/busca.js"></script>
  <script src="../../js/components/paginacao.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>