<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Unificado de Gestão para Postos de Saúde</title>
  <link rel="stylesheet" href="../../css/base/styles.css">
  <link rel="stylesheet" href="../../css/pages/inicio.css">
  <link rel="shortcut icon" href="../../images/logos/icone.ico" type="image/x-icon">
</head>
<body data-page="home">
  <header>
    <nav>
      <div class="busca-elementos">
        <a href="tela_inicio_paciente.html">
          <img src="../../images/logos/logo.png" alt="logo do projeto" title="logo do projeto">
        </a>
        <div class="input-container">
          <input type="text" id="search-input" placeholder="Pesquisar" />
          <button id="search-button" class="input-icon">
            <a href="busca.html"><img src="../../images/botoes/lupa.svg" alt="Ícone de Lupa"/></a>
          </button>
        </div>
      </div>
      <ul class="menu-navegacao"> 
          <li>
            <a href="tela_inicio_paciente.html" class="menu-item" data-page="home">
              <div class="elementos">
                <img src="../../images/botoes/home.png" alt="Início" title="Aba inicial">
                <p>Início</p>
              </div>
            </a>  
          </li>
          <li>
            <a href="../pages/notificacoes.html" class="menu-item" data-page="notificacoes">
              <div class="elementos">
                <img src="../../images/botoes/notificacao.png" alt="Notificações" title="Aba de Notificações">
                <p>Notificações</p>
              </div>
            </a>
          </li>
          <li>
            <a href="../pages/perfil.html" class="menu-item" data-page="perfil">
              <div class="elementos">
                <img src="../../images/icones/user.png" alt="Menu de perfil" title="Menu de Perfil">
                <p>Perfil</p>
              </div>
            </a>  
          </li>
          <li>
            <a href="#" class="menu-item" id="configuracoes">
              <div class="elementos">
                <img src="../../images/botoes/sanduiche.png" alt="Menu" title="Menu">
                <p>Configurações</p>
              </div>
            </a>  
          </li>
      </ul>
    </nav>
  </header>
  <ul class="submenu" id="submenu">
    <li><button id="logout">Sair</button></li>
    <!-- <li><button id="update">Atualizar seus dados</button></li> -->
  </ul>
  <main>
    <section id="informacoes-paciente" class="info-container"></section>
    <section id="informacoes-paciente-vacina" class="info-container-vacina">
      <h3>Histórico de Vacinas</h3>
    </section>
    <section id="informacoes-paciente-dados" class="info-container-dados">
      <h3>Total de vacinas</h3>
    </section>
  </main>
  <footer class="baixo-inicio">
    <span>
      <a href="../pages/termos.html" target="_blank" rel="noopener noreferrer">Termos</a>
      ,
      <a href="../pages/politica_privacidade.html" target="_blank">Política de Privacidade</a>
    </span>
    <span>
      <p>&copy; 2024 Sistema Unificado de Gestão para Postos de Saúde</p>
    </span>
  
  </footer>
  <script src="../../js/pages/inicio.js"></script>
  <script src="../../js/pages/busca.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>