:root {
  --cor-azul: #6394FF;
  --cor-cinza: #EDEDED;
  --cor-cinza-claro: #D9D9D9;
  --cor-cinza-escuro: #8E8E8E;
  --cor-branco: #f9f9f9;
}

main#busca-results {
  width: 50rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--cor-cinza-claro);
}

main#busca-results h2 {
  margin-bottom: 10px;
}
