header {
  display: flex;
  justify-content: space-between;
}

header img {
  display: absolute;
  width: 12rem;
  height: 8rem;
}

main ul {
  list-style-type: none;
}

main ul li {
  margin: 15px;
}

main ul li p {
  margin-top: 5px;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 11pt;
}